.task-list {

  width:75%;

  height:100%;
  overflow: scroll;

  position: fixed;
  top: 10%;
  left:25%;



}

.list-group-item{
  background-color: transparent;
  background-color: ghostwhite;
}

.projecttask
{
  position: relative;
  margin-left:90%;
}